<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- HTML Codes by Quackit.com -->
<title>
BurgerCore©</title>
<meta name="description" content="Your Online Food Delivery Service.">
<style type="text/css">
body {background-color:FFFFFF;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{text-align:center;font-family:Cursive;color:000000;}
h2{text-align:center;font-family:Cursive;color:000000;}
p {text-align:justified;font-family:Cursive;font-size:14px;font-style:italic;font-weight:normal;color:000000;}
</style>
</head>
<body>

<img src="http://i.imgur.com/bB18Wk6.png" alt="burgercorelogo" height="250" width="250">

<h1>The BurgerCore©</h1>
<h2>Your Online Burger Service</h2>
<br></br>
<p>Founded in 2015, BurgerCore© is the second smallest World burgers Network. Original home to IDEAFIELD , possesses only one store, Serving Over 2 Consumers IN ON Day 1 Countries Around the World. Since we first opened our doors in 2015, people Have Been coming to The BurgerCore© for a job - and discovering so much more. BurgerCore© offers a chance to learn, grow and gain hands-on experiences can set them up for success - Whether here at The BurgerCore© or anywhere else They Pursue Their opportunities. And the pride that comes from bringing a little lovin 'to our customers every day.</p>

</body>
</html>