<!DOCTYPE html>
<html>
  <h4 class="column">Featured Burgers</h4>
  <div class="column">
    <ul class="burgers-grid no-bullet row">
    <% @products.each do |product| %>
      <li class="large-3 medium-4 small-12 column">
      <div class="product-card padly">
        <%= link_to product, class: "poster" do %>
        <%= image_tag product.image_url %>
        <% end %>
        <div class="product-info ell glassy-bg padmy padlx">
          <div class="name">
            <h6><%= product.title %></h6>
          </div>
        <p class="left price label movie-label radius">$ <%= product.price %></p>
        <td><a href="/cart/<%= product.id %>"> Add To Cart</a></td>
        <% end %>
        </div>
      </div>
      </li>
    </ul>
  </div>
</html>