<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png" sizes="96x96" href="http://i.imgur.com/JDoctbS.png">

	
	<title>	BurgerCore©  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<nav id="nav">
		<div id="page_nav">	
			<%= link_to "Home", root_path %>
			<%= link_to "Menu", products_path %>
			<%= link_to "Contact", page_contact_path %>
		</div>

		<div id="sign_in">
			<% if user_signed_in? %>
				<%=link_to "Logout", destroy_user_session_path, method: :delete %>
			<% else %>
				<%=link_to "Login", new_user_session_path %>
				<%=link_to "Sign Up", new_user_registration_path %>
			<% end %>
		</div>
	</nav>

	<div id="main_wrap">
	    <p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
	    <%= yield %>
	</div>

	

</body>
</html>
